<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('rpi-portal.static', filename='css/lib/theme.css') }}" rel="stylesheet">
    <title>Reset Password</title>
</head>
<body>


 <main class="main" id="top">
      <div class="container-fluid">
        <div class="row min-vh-100 bg-100">
          <div class="col-6 d-none d-lg-block position-relative">
            <div class="bg-holder" style="background-image:url({{ url_for('rpi-portal.static', filename='img/auth-left.jpg') }});background-position: 50% 20%;">
            </div>
          </div>
          <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
            <div class="row justify-content-center g-0">
              <div class="col-lg-9 col-xl-8 col-xxl-6">
                <div class="card">
                  <div class="card-header bg-circle-shape bg-shape text-center p-2">
                      <div class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light">KPI Reunion</div></div>
                  <div class="card-body p-4">
                    <div class="row flex-between-center">
                      <div class="col-auto">
                        <h1 class="fs-3">Reset Password</h1>
                      </div>
                    </div>
                    {% include 'auth/show-error-message.html' %}
                      <form action="" class="row g-3" method="post">
                          <div class="col-12">
                              <label class="form-label"><span class="text-danger me-1">*</span>Mobile</label>
                              <input type="text" name="mobile" required class="form-control">
                          </div>
                          <div class="col-12">
                              <label class="form-label"><span class="text-danger me-1">*</span>Passing Year</label>
                              <select name="passingYear" required class="form-select">
                                  <option disabled="" value="" selected="">Passing Year</option>
                                  <option value="2009">2009</option>
                                  <option value="2010">2010</option>
                                  <option value="2011">2011</option>
                                  <option value="2012">2012</option>
                                  <option value="2013">2013</option>
                                  <option value="2014">2014</option>
                                  <option value="2015">2015</option>
                                  <option value="2016">2016</option>
                                  <option value="2017">2017</option>
                                  <option value="2018">2018</option>
                                  <option value="2019">2019</option>
                                  <option value="2020">2020</option>
                                  <option value="2021">2021</option>
                                  <option value="2022">2022</option>
                              </select>
                          </div>

                          <div class="col-12 d-grid gap-2  mx-auto ">
                              <button type="submit" class=" btn btn-primary btn-login">Reset Password</button>
                          </div>
                          <div class="text-center mt-2">
                              <a href="{{ url_for('operator_form_controller.login') }}" class="text-decoration-none">Back to Login</a>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
</body>
</html>