{% extends "layout/base.html" %}

{% block title %}
   Dashboard | Kurigram Polytechnic Institute
{% endblock %}


{% block content %}

        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card bangla-text">
                    <div class="card-body p-md-5 p-3">
                        <div class="fs-2 text-center fw-bold mb-3">
                            প্রিয় {{ tutil.account_name }},
                        </div>
                        <div class="text-center fw-semi-bold">
                            আপনি সফল ভাবে রেজিস্ট্রেশন সম্পুন্ন করেছেন । রংপুর পলিটেকনিক ইন্সটিটিউট এর শিক্ষার্থী পোর্টালে আপনাকে স্বাগতম ।
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
