{% extends "layout/base.html" %}

{% block title %}
   Member | Rangpur Polytechnic Institute
{% endblock %}


{% block content %}
    <div class="pt-3 pb-2 mb-2 border-bottom">
        <div class="text-h4">Member Details</div>
    </div>

     <div class="card">
        <div class="card-body">
            <div class="row g-2">
                <div class="col-md-6">
                    <div class="form-floating">
                        <div class="form-control fw-bold h-auto min-h-details">{{- data.name }}</div>
                        <label class="details-label-fs">Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <div class="form-control fw-bold h-auto min-h-details">{{- data.homeDistrict }}</div>
                        <label class="details-label-fs">Home District</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <div class="form-control fw-bold h-auto min-h-details">{{- data.mobile }}</div>
                        <label class="details-label-fs">Mobile</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <div class="form-control fw-bold h-auto min-h-details">{{- data.email }}</div>
                        <label class="details-label-fs">Email</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating">
                        <div class="form-control fw-bold h-auto min-h-details">{{- data.emergencyContact }}</div>
                        <label class="details-label-fs">Emergency Contact</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <div class="form-control fw-bold h-auto min-h-details">{{- data.bloodGroup }}</div>
                        <label class="details-label-fs">Blood Group</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <div class="form-control fw-bold h-auto min-h-details">{{- data.technology }}</div>
                        <label class="details-label-fs">Technology</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating">
                        <div class="form-control fw-bold h-auto min-h-details">{{- data.session }}</div>
                        <label class="details-label-fs">Session</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <div class="form-control fw-bold h-auto min-h-details">{{- data.shift }}</div>
                        <label class="details-label-fs">Shift</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <div class="form-control fw-bold h-auto min-h-details">{{- data.passingYear }}</div>
                        <label class="details-label-fs">Passing Year</label>
                    </div>
                </div>


                <div class="col-12 mt-3">
                    <span class="float-end">
                        <a href="{{- url_for("admin_controller.student_list") }}" class="btn btn-danger ms-2">Cancel</a>
                    </span>
                </div>
            </div>
        </div>
     </div>

{% endblock %}