{% extends "layout/base.html" %}

{% block title %}
   My Profile | Rangpur Polytechnic Institute
{% endblock %}



{% block content %}

    {% include("member/snippet/profile-crop-modal.html") %}
    {% if data %}
        <div class="card mb-3">
            <div class="cover-image-card card-header position-relative min-vh-25 mb-8">
                <div class="cover-image">
                    <img src="{{ url_for('rpi-portal.static', filename='img/auth-left.jpg') }}"
                         class="image-holder rounded-3 rounded-bottom-0" id="cover-photo-img"/>
{#                    <div>#}
{#                        <input class="d-none" id="upload-cover-image" type="file" accept=".jpg, .jpeg, .png"/>#}
{#                        <label class="cover-image-file-input" for="upload-cover-image">#}
{#                            <span class="fas fa-camera me-2"></span>#}
{#                            <span>Change cover photo</span>#}
{#                        </label>#}
{##}
{#                        <div class="drag-reposition">#}
{#                            <i class="fas fa-arrows-alt me-2"></i>#}
{#                            <span>Drag to reposition</span>#}
{#                        </div>#}
{##}
{#                        <div class="change-profile-img  d-flex">#}
{#                            <button id="upload-button" class="d-flex upload-control btn">#}
{#                                <i class="fas fa-upload"></i> <span>Save</span>#}
{#                            </button>#}
{#                            <button id="close-button" class="d-flex upload-control btn">#}
{#                                <i class="fas fa-window-close"></i> <span>Close</span>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
                </div>

                <div class="d-flex profile-absolute">
                    <div class="avatar avatar-5xl  shadow-sm img-thumbnail rounded-circle flex-grow-1">
                        <div class="h-100 w-100 rounded-circle  overflow-hidden position-relative">
                            <img id="profile-avatar-image" src="{{ tutil.profile_photo_url }}" width="200"/>
                            <input class="d-none" id="avatar-image-upload" type="file" accept=".jpg, .jpeg, .png">
                            <label class="mb-0 overlay-icon d-flex flex-center" for="avatar-image-upload">
                                <span class="bg-holder overlay overlay-0"></span>
                                <span class="z-index-1 text-white dark__text-white text-center fs--1">
                                <span class="fas fa-camera"></span>
                                <span class="d-block">Upload</span>
                            </span>
                            </label>
                        </div>
                    </div>
                    <div class="d-flex align-items-end">
                        <h4 class="mb-1 profile-username">{{- data.name }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-lg-8 pe-lg-2">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Profile</h5>
                        <a href="{{- url_for("member_controller.update_profile") }}" class="font-sans-serif">Edit</a>
                    </div>
                    <div class="card-body bg-light ">
                        <div class="row g-2">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <div class="form-control fw-bold h-auto min-h-details">{{- data.name }}</div>
                                    <label class="details-label-fs">Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <div class="form-control fw-bold h-auto min-h-details">{{- data.homeDistrict }}</div>
                                    <label class="details-label-fs">Home District</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <div class="form-control fw-bold h-auto min-h-details">{{- data.mobile }}</div>
                                    <label class="details-label-fs">Mobile</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <div class="form-control fw-bold h-auto min-h-details">{{- data.email }}</div>
                                    <label class="details-label-fs">Email</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <div class="form-control fw-bold h-auto min-h-details">{{- data.emergencyContact }}</div>
                                    <label class="details-label-fs">Emergency Contact</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <div class="form-control fw-bold h-auto min-h-details">{{- data.bloodGroup }}</div>
                                    <label class="details-label-fs">Blood Group</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <div class="form-control fw-bold h-auto min-h-details">{{- data.technology }}</div>
                                    <label class="details-label-fs">Technology</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-floating">
                                    <div class="form-control fw-bold h-auto min-h-details">{{- data.session }}</div>
                                    <label class="details-label-fs">Session</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <div class="form-control fw-bold h-auto min-h-details">{{- data.shift }}</div>
                                    <label class="details-label-fs">Shift</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <div class="form-control fw-bold h-auto min-h-details">{{- data.passingYear }}</div>
                                    <label class="details-label-fs">Passing Year</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 ps-lg-2">
                <div class="sticky-sidebar">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">Change Password</h5>
                        </div>
                        <div class="card-body bg-light">
                            <form class="needs-validation" noValidate method="post" action="{{- url_for("member_controller.change_password") }}">
                                <div class="row g-3">
                                    {% show_input field=form.currentPassword, class="col-md-12" %}
                                    {% show_input field=form.newPassword, class="col-md-12" %}
                                    {% show_input field=form.confirmPassword, class="col-md-12" %}
                                    <div class="col-12">
                                        <button class="btn btn-primary d-block w-100" type="submit">Change Password
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
