{% extends "layout/base.html" %}

{% block title %}
   Support | Kurigram Polytechnic Institute
{% endblock %}


{% block content %}
    <div class="row mt-3 g-3">

        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body text-center p-md-5 p-3">
                    <div class="fs-3 fw-bold mb-3">অনুষ্ঠান সম্পর্কেঃ </div>

                    <div class="fs-md-2 fs-1 mb-3">
                        <a class="d-block fw-bold fs-3" href="tel:+880 1731-935687"> +880 1731-935687</a>
                        <span class="fs-1 fw-bold">( Md.Atiqur Rahman ENT-10 )</span>
                    </div>
                    <div class="fs-md-2 fs-1 mb-3">
                        <a class="d-block fw-bold fs-3" href="tel:+880 1734-676264"> +880 1734-676264</a>
                        <span class="fs-1 fw-bold">( Rezaul Karim Reza Al-Farazi  ENT-12 )</span>
                    </div>

                    <div class="fs-md-2 fs-1 mb-3">
                        <a class="d-block fw-bold fs-3" href="tel:+880 1746-956526"> +880 1746-956526</a>
                        <span class="fs-1 fw-bold">( Shishir Sarker CMT-12 )</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body text-center p-md-5 p-3">
                    <div class="fs-3 fw-bold mb-3">পেমেন্ট বিষয়েঃ  </div>
                    <span class="d-block fw-bold fs-3"><a href="tel:+880 1687-870387">+880 1687-870387</a></span>
                    <span class="fs-1 fw-bold">( Samsuzzaman Chowdhury Rubel (AIDT-16) )</span>
                </div>
            </div>
        </div>

        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body text-center p-md-5 p-3">
                    <div class="fs-3 fw-bold mb-3">সফটওয়্যার সমস্যায়ঃ</div>
                    <span class="d-block fw-bold fs-3"><a href="tel:+880 1756-702340">+880 1756-702340</a></span>
                    <span class="fs-1 fw-bold">( Bangla Fighter )</span>
                </div>
            </div>
        </div>

    </div>
{% endblock %}