{% extends "layout/base.html" %}

{% block title %}
   Support | Kurigram Polytechnic Institute
{% endblock %}


{% block content %}
    <div class="row mt-3 g-3">

        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body text-center p-md-5 p-3 fs-1 fw-bold">
                    যেকোন ধরনের সাহায্য সহযোগিতার জন্য রংপুর পলিটেকনিকের কম্পিউটার টেকনোলজিতে যোগাযোগ করুন ।
                </div>
            </div>
        </div>

    </div>
{% endblock %}