{% extends "layout/base.html" %}

{% block title %}
   Update Profile | Rangpur Polytechnic Institute
{% endblock %}



{% block content %}
    <div class="pt-3 pb-2 mb-2 border-bottom">
        <div class="text-h4">Update Profile</div>
    </div>


    <div class="card mb-3">
        <div class="card-body">
            <form class="needs-validation profile-form" method="post" action="{{- url_for(action) }}" noValidate>
                <div class="row g-3">
                    {% show_input field=form.id %}
                    {% show_input field=form.name, class="col-md-6" %}
                    {% show_input field=form.homeDistrict, class="col-md-6" %}
                    {% show_input field=form.mobile, class="col-md-6" %}
                    {% show_input field=form.email, class="col-md-6" %}

                    {% show_input field=form.emergencyContact, class="col-md-4" %}
                    {% show_input field=form.technology, class="col-md-4" %}

                    <div class="col-md-4">
                        <label class="form-label">
                            <span class="text-danger me-1">*</span>
                            Session
                        </label>
                        <select class="form-select" required name="academicSession">
                            <option value="" selected disabled>Select</option>
                            {% for select in tutil.session_dropdown_data %}
                                <option {{ "selected" if form.academicSession.value == select }} value="{{- select }}">{{- select }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% show_input field=form.shift, class="col-md-4" %}
                    {% show_input field=form.passingYear, class="col-md-4" %}

                    <div class="mt-3 col-12">
                        <span class="float-end">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a href="{{- url_for("member_controller.profile") }}" class="btn btn-danger ms-2" type="button">Cancel</a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}