{% extends "layout/base.html" %}

{% block title %}
   My Invitation | Kurigram Polytechnic Institute
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xxl-9 mx-auto">
            <div class="d-flex gap-2 justify-content-end align-items-center mb-5">
                <a target="_blank" href="{{- url_for("member_controller.download_invitation")  }}" class="btn btn-primary fs--1">Download</a>
            </div>
        </div>
        {% include("member/invitation-card.html") %}
    </div>

{% endblock %}
