<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('kpi-reunion.static', filename='css/lib/theme.css') }}" rel="stylesheet">
    <title>Reset Password</title>
</head>
<body>


 <main class="main" id="top">
      <div class="container-fluid">
        <div class="row min-vh-100 bg-100">
          <div class="col-6 d-none d-lg-block position-relative">
            <div class="bg-holder" style="background-image:url({{ url_for('kpi-reunion.static', filename='img/login-left.jpg') }});background-position: 50% 20%;">
            </div>
          </div>
          <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
            <div class="row justify-content-center g-0">
              <div class="col-lg-9 col-xl-8 col-xxl-6">
                <div class="card">
                  <div class="card-header bg-circle-shape bg-shape text-center p-2">
                      <div class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light">KPI Reunion</div></div>
                  <div class="card-body p-4">

                      {% if reset_done %}
                          <div class="row flex-between-center mb-3">
                              <div class="fs-2 text-center">Please check your mobile for password</div>
                          </div>
                          <div class="text-center mt-2">
                              <a href="{{ url_for('operator_form_controller.login') }}" class="btn btn-primary btn-login">Login</a>
                          </div>
                      {% else %}
                          <div class="row flex-between-center">
                              <div class="col-auto">
                                  <h1 class="fs-3">Reset Password</h1>
                              </div>
                          </div>
                          {% include 'auth/show-error-message.html' %}
                          <form action="{{- url_for("site_controller.reset_password") }}"
                                class="row g-3 needs-validation" novalidate method="post">
                              {% show_input field=form.mobile, class="col-md-12" %}
                              {% show_input field=form.passingYear, class="col-md-12" %}

                              {{- tutil.recaptcha()|safe }}

                              <div class="col-12 d-grid gap-2  mx-auto ">
                                  <button type="submit" class=" btn btn-primary btn-login">Reset Password</button>
                              </div>
                              <div class="text-center mt-2">
                                  <a href="{{ url_for('operator_form_controller.login') }}"
                                     class="text-decoration-none">Back to Login</a>
                              </div>
                          </form>
                      {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
     <script src="{{ url_for('kpi-reunion.static', filename='js/lib/jquery.min.js') }}"></script>
     <script src="{{ url_for('kpi-reunion.static', filename='js/pweb/pweb.js') }}"></script>
     <script src="{{ url_for('kpi-reunion.static', filename='js/pweb/pweb.message.box.js') }}"></script>

     <script>
         PWeb.messageBox.parseAndShowMessage({{- util.get_status_message()|safe }})
     </script>
     <script src="{{ url_for('kpi-reunion.static', filename='js/bootstrap-task.js') }}"></script>
</body>
</html>