<nav class="navbar navbar-light navbar-vertical navbar-expand-xl navbar-vibrant">

    <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">

            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip"
                    data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span
                    class="toggle-line"></span></span></button>

        </div>
        <a class="navbar-brand" href="#">
            <div class="d-flex align-items-center py-3">
                <span class="font-sans-serif">RPIR Student Portal</span>
            </div>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content scrollbar">
            <ul class="navbar-nav flex-column mb-3">
                {% for nav in left_nav %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{- url_for(nav.url) }}">
                            <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="{{- nav.icon }}"></span>
                            </span>
                                <span class="nav-link-text ps-1">{{- nav.name }}</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>