{% extends "layout/base.html" %}

{% block title %}
   Scan | Kurigram Polytechnic Institute
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12 text-center">
            <div style="width: 500px" id="reader"></div>
            <button type="button" style="display: none" class="btn btn-primary rescan">Rescan</button>
        </div>
        <div class="col-md-12">
            <div id="details-table"></div>
        </div>
    </div>





    {% block append_js %}
        <script src="{{ url_for('kpi-reunion.static', filename='js/lib/html5-qrcode.min.js') }}"></script>
        <script src="{{ url_for('kpi-reunion.static', filename='js/pweb/pweb.scanner.js') }}"></script>
    {% endblock %}

{% endblock %}
