<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('rpi-portal.static', filename='css/lib/theme.css') }}" rel="stylesheet">

    <link href="{{ url_for('rpi-portal.static', filename='js/lib/confirm/jquery-confirm.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('rpi-portal.static', filename='js/lib/datepicker/bootstrap-datepicker.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('rpi-portal.static', filename='js/lib/select2/select2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('rpi-portal.static', filename='js/lib/select2/select2-bootstrap-5-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('rpi-portal.static', filename='js/lib/cropper/cropper.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('rpi-portal.static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('rpi-portal.static', filename='css/profile-style.css') }}" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('rpi-portal.static', filename='img/favicon.ico') }}">

    <title>{% block title %}{{- pweb_app_name }}{% endblock %}</title>

    <script src="{{ url_for('rpi-portal.static', filename='js/pweb/pweb.js') }}"></script>
    {{- util.set_base_js()|safe }}

    <meta property="og:title" content="শিক্ষার্থী পোর্টাল"/>
    <meta property="og:description" content="রংপুর পলিটেকনিক ইনস্টিটিউট,"/>
    <meta property="og:image" content="{{- tutil.base_url + url_for('rpi-portal.static', filename='img/logo.png') }}"/>
</head>
<body>

<main class="main" id="top">
    <div class="container-fluid" data-layout="container">
        {% include("layout/snippet/left-nav.html") %}
        <div class="content">
            {% include("layout/snippet/top-nav.html") %}

            {% block content %}{% endblock %}

            <footer class="footer">
                <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
                    <div class="col-12 col-sm-auto text-center">
                        <p class="mb-0 text-600">
                            Developed by
                            <span  class="ms-1">RPIR CMT - 7th</span>
                        </p>
                    </div>
                    <div class="col-12 col-sm-auto text-center">
                        <p class="mb-0 text-600">v1.0.0</p>
                    </div>
                </div>
            </footer>

            <div class="header-top-item resp-actions position-footer-scsmallreen">
                <div class="sm-small-icon">
                    <a class="icon" href="{{- url_for("member_controller.profile") }}">
                        <i class="fa-solid fa-crown head-icon"></i>
                    </a>
                    <div class="account-content">
                        <a href="{{- url_for("member_controller.profile") }}"><h5>Profile</h5></a>
                    </div>
                </div>
                <div class="sm-small-icon">
                    <a class="icon" href="{{- url_for("member_controller.support") }}">
                        <i class="fa-solid fa-headset head-icon"></i>
                    </a>
                    <div class="account-content">
                        <a href="{{- url_for("member_controller.support") }}"><h5>Support</h5></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>

<script src="{{ url_for('rpi-portal.static', filename='js/lib/jquery.min.js') }}"></script>
<script src="{{ url_for('rpi-portal.static', filename='js/lib/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('rpi-portal.static', filename='js/lib/font-awesome.all.min.js') }}"></script>
<script src="{{ url_for('rpi-portal.static', filename='js/bootstrap-task.js') }}"></script>

<script src="{{ url_for('rpi-portal.static', filename='js/lib/confirm/jquery-confirm.min.js') }}"></script>
<script src="{{ url_for('rpi-portal.static', filename='js/lib/datepicker/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('rpi-portal.static', filename='js/lib/select2/select2.min.js') }}"></script>
<script src="{{ url_for('rpi-portal.static', filename='js/lib/cropper/cropper.min.js') }}"></script>

<script src="{{ url_for('rpi-portal.static', filename='js/pweb/pweb.message.box.js') }}"></script>
<script src="{{ url_for('rpi-portal.static', filename='js/pweb/pweb.ajax.js') }}"></script>
<script src="{{ url_for('rpi-portal.static', filename='js/pweb/pweb.view.mode.js') }}"></script>
<script src="{{ url_for('rpi-portal.static', filename='js/pweb/pweb.account.js') }}"></script>
<script src="{{ url_for('rpi-portal.static', filename='js/pweb/pweb.event.js') }}"></script>
<script src="{{ url_for('rpi-portal.static', filename='js/pweb/pweb.init.js') }}"></script>
<script>
    PWeb.messageBox.parseAndShowMessage({{- util.get_status_message()|safe }})
</script>
{% block append_js %}{% endblock %}
</body>
</html>