@font-face {
  font-family: NotoSans;
  src: url("../font/NotoSansBengali-Variable.ttf");
}

.bangla-text{
    font-family: 'NotoSans', sans-serif !important;
        font-size: 20px;
}

.image-holder{
    height: 100%;
    position: absolute;
    width:100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    will-change: transform, opacity, filter;
    backface-visibility: hidden;
    background-repeat: no-repeat;
}



.dark .css-1s2u09g-control, .dark .css-1pahdxg-control {
    background-color: #0b1727;
    border-color: #344050;
    color:#fff ;
}

.dark .css-qc6sy-singleValue{
    color: hsl(216deg 16% 63%) !important;
}


.dark .css-1s2u09g-control:hover{
     border-color: #344050;
}

.dark .css-26l3qy-menu {
  background-color: #0b1727 !important;
  color: #9ca3af;
}

.dark .css-1w9j89e-menu {
  background-color: #0b1727 !important;
  color: #9ca3af;
}

.css-1n7v3ny-option{
    background-color: transparent !important;
}

.css-1n7v3ny-option:hover{
    background-color: #DEEBFF !important;
    color: #1e2937 !important;
}

.dark .css-1n7v3ny-option:hover{
    background-color: #1e2937 !important;
    color: #d5d5d5 !important;
}


.change-profile-img{
    position: absolute;
    bottom: 5px ;
    right: 0;
    padding: 10px 15px;
    font-size: 14px;
    z-index: 50;
    gap: 10px;
}

.change-profile-img .upload-control {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 2px 15px;
    border-radius: 0.375rem;
    background-color: rgb(51 64 80 / 100%);
    color: white;
    text-decoration: none;
}
.change-profile-img .upload-control:hover{
    background-color: rgb(51 64 80 / 75%);;
}

.accordion-button:not(.collapsed)::after {
    background-image:url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%235e6e82%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
    transform: rotate(-180deg);
}

.drag-reposition {
    font-size: 16px;
    position: absolute;
    max-width: 100%;
    top: 15px;
    left: 50%;
    background: rgba(0, 6, 16, 0.74);
    color: #fff;
    font-weight: 700;
    padding: 7px 20px;
    border-radius: 3px;
    transform: translate(-50%);
    text-align: center;
}

.cover-image{
    height: 350px;
}

.cover-image-card{
    padding: 0px !important;
}

.avatar {
   flex-shrink: 0;
}

.profile-absolute {
    position: absolute;
    bottom: -15px;
    transform: translateY(50%);
    left: 20px;
}
.profile-username{
    padding-left: 10px;
    padding-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

@media (max-width: 767px) {
    .cover-image {
        height: 200px;
    }

    .change-profile-img {
        padding: 5px 7px;
        right: -5px;
        font-size: 10px;
        z-index: 50;
        gap: 2px;
    }

    .change-profile-img .upload-control {
        gap: 2px;
        height: 2rem;
        padding: 2px 5px;
        border-radius: 0.375rem;
        font-size: 12px;
    }
    .drag-reposition {
    font-size: 12px;
    }

    .avatar-5xl {
        height: 7.5rem;
        width: 7.5rem;
    }

    .profile-absolute {
        left: 10px;
    }
    .cover-image-card.mb-8{
        margin-bottom: 6.5rem !important;
    }

    .profile-username {
        padding-left: 5px;
        padding-bottom: 10px;
    }

}

/*cropper*/

.modal-sm {
    max-width: 36rem;
}

.avatar-cover {
    position: relative;
    display: flex;
    flex-direction: column;
}

.cropper-container {
    height: 300px !important;
}

.avatar-cover .avatar-image img {
    width: 300px;
    height: 300px;
    margin: auto;
    object-fit: contain;
}

.modal-header{
    padding-top: 20px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.modal-body .card {
    padding-top: 0 !important;
    box-shadow: none;
    background-color: transparent;
}

.dark .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%235e6e82%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.link-normal{
    color: #5E6E82 !important;
}
.link-normal{
    color: #707f91 !important;
}

.dark .link-normal{
    color: #9da9bb;
}

.dark .link-normal:hover{
    color: #9da9bc;
}


.profile-dropdown .dropdown-item.user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px;
    width: 200px;
    white-space: normal;
}

.profile-dropdown .dropdown-item.user .user-avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    flex-shrink: 0;
    border: 1px solid #5a6f8a;
}

.profile-dropdown .dropdown-item.user .user-avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;

}

.profile-dropdown .dropdown-item.user .user-name{
    line-height: 20px;
    font-weight: 600;
    font-size: 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    word-wrap: break-word;
}

.dark .profile-dark-hover .dropdown-item:hover{
    background-color: #2e3946;
}

.dropdown-menu {
    padding: 0.5rem 0 !important;
}


.profile-header-img{
    border: 1px solid #5a6f8a;
}


.table-responsive-sm {
    overflow: visible !important;
}

@media (max-width: 767px) {
    .table-responsive-sm{
        overflow-x: scroll !important;
    }
}

.modal-content {
    border: 1px solid #2c7be5 !important;
}

.link-disable {
    opacity: 0.2;
    cursor: not-allowed;
}

.align-end{
    align-items: end !important;
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%239da9bb%27/%3e%3c/svg%3e");
}

.form-control[type=file]::file-selector-button {
    color: #111 !important;
    background-color:  #edf2f9 !important;
  }

.dark .form-control[type=file]::file-selector-button {
    color: #d5d5d5 !important;
    background-color:  #344050FF !important;
}

.dz-image {
    border-radius: 0.25rem;
    height: 2.5rem;
    width: 2.5rem;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 1rem;
}


.focus-none:focus{
    box-shadow: none;
}

.dark .css-6r5zzp-control {
    background-color: #0b1727;
}

@media (max-width: 500px) {
    .sm-th-d-none{
        display: none !important;
    }
    .sm-mb-3{
        margin-bottom: 1rem !important;
    }

}

.min-h-details{
    min-height: 56px;
}


/*Select and chips dark mode*/

.dark .css-1pndypt-Input {
    color: #d5d5d5 !important;
}

.dark .css-1pndypt-Input input {
    color: #d5d5d5 !important;
}

.dark .css-xb97g8{
  color: #333;
}

.dark .css-6j8wv5-Input{
    caret-color: #d5d5d5;
}

.dark .css-v0ff1k-control{
    background-color: #0b1727;
}
.dark .css-1czsepl-control{
     background-color: #0b1727;
}

.dark .form-control:-webkit-autofill,
.dark .form-control:-webkit-autofill:hover,
.dark .form-control:-webkit-autofill:focus,
.dark .textarea-control:-webkit-autofill,
.dark .textarea-control:-webkit-autofill:hover,
.dark .textarea-control:-webkit-autofill:focus,
.dark .form-select:-webkit-autofill,
.dark .form-select:-webkit-autofill:hover,
.dark .form-select:-webkit-autofill:focus {
    -webkit-text-fill-color: #f1f1f1;
    -webkit-box-shadow: 0 0 0px 1000px #0b1727 inset;
    transition: background-color 5000s ease-in-out 0s;
    color: #d5d5d5;
    caret-color: #d5d5d5;
}

.checkbox-center{
    align-items: end !important;
}

.checkbox-center .form-check {
    margin-bottom: 0;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-19 {
    font-size: 19px;
}

.font-size-20 {
    font-size: 20px;
}

.password-icon-button {
    border: none !important;
    padding: 0;
    background: transparent;
}

.navbar-brand{
    font-size: 1.2rem;
}

.profile-form  input::placeholder {
  color: #344050;
  opacity: 1;
}
.profile-form textarea::placeholder {
  color: #344050;
  opacity: 1;
}

.p-form-select{
    width: 180px;
}


.table-invite tr td {
    padding: 3px;
}

.table-invite {
    margin-bottom: 0;
}

.z-1 {
    z-index: 1;
}

/*invitation*/
.reunion-img {
    text-align: center;
    overflow: hidden;
    height: 150px;
    width: 150px;
    border: 4px solid #e7e4e4;
}

.reunion-img img {
    object-fit: cover;
}

.qr-code img {
    height: 140px;
    width: auto;
}

.print-a4 {
    width: 775px;
    min-width: 774px;
}

.print-landscape {
    min-width: 1000px;
}


.fs--1 {
    font-size: 14px !important;
}

.invitation-card {
    border: 4px solid #000;
    color: #000;
}

.border-right {
    border-right: 2px solid #e7e4e4;
}

.fs-dis {
    font-size: 16px;
}

/*invitation end*/

.navbar .dropdown-menu:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 1rem;
    height: 1rem;
    background: #000;
    top: -0.375rem;
    left: 1.8rem;
    transform: rotate(45deg);
    background: inherit;
    border-radius: .125rem;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: var(--falcon-dropdown-border-color);
    box-shadow: var(--falcon-box-shadow-sm);
}

.min-h-details {
    height: 100% !important;
}

.bg-holder {
    background-image: url('./../img/list-view-header-bg.png');
}

.select2-container{
    width: 100% !important;
}

.text-h4 {
    font-size: 1.44rem;
    font-weight: 500;
    line-height: 1.2;
}

.table-action {
    width: 100px;
    text-align: center;
}

.table-secondary th td{
    color: #4d5969 !important;
    font-weight: 600;
}


.fs-title{
    font-size: 20px;
}

.booking .tr-info{
    border-bottom: none !important;
}

.booking.table  tr td{
    padding: 12px 12px;
}

.t-shart-data .form-select{
    width: auto;
    flex: 1 1 auto;
}


@media (max-width: 767px) {
    .page-center {
        display: block;
    }
}

.t-shart-data td{
    padding-bottom: 15px !important;
}

.tr-info td{
    padding-top: 15px !important;
}

.booking.table{
    border-bottom: 1px solid #c9c6c6;
}


.position-footer-small-screen {
    display: none;
}


@media (max-width: 991px) {
    .dashboard-with-button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: calc(100vh - 80px);
        gap: 40px;
    }

}

.header-top-item.resp-actions {
    flex: 0 0 475px;
    padding: 4px 0 0 10px;
    display: none;
}

.resp-actions .sm-small-icon {
    float: left;
    display: flex;
    padding-left: 18px;
    text-decoration: none;
}

.resp-actions .sm-small-icon .icon {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    text-align: center;
    line-height: 32px;
    font-size: 32px;
    position: relative;
    top: 1px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resp-actions .sm-small-icon .icon .head-icon {
    color: #0079c9 ;
    font-size: 24px;
    width: 30px;
    height: 24px;
    line-height: 24px;
}

.resp-actions .sm-small-icon h5 {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
}

.resp-actions .sm-small-icon p {
    font-size: 11px;
    line-height: 16px;
    margin: 0;
    white-space: nowrap;
    color: rgba(255, 255, 255, .5);
}

@media (max-width: 767px) {
    .center-div{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

     .header-top-item.resp-actions {
        position: fixed;
        display: flex;
        align-items: center;
        left: 0;
        bottom: 0;
        right: 0;
        height: 61px;
        background: #081621;
        z-index: 1500;
        box-shadow: 0 -4px 4px rgba(0, 0, 0, .2), 0 -1px 0 rgba(255, 255, 255, .2);
        flex: 1 1 auto;
        width: 100%;
        padding: 0;
    }

    .resp-actions .sm-small-icon {
        float: none;
        display: flex;
        padding-left: 0;
        flex-direction: column;
        flex: 0 0 33.33%;
        text-align: center;
        align-items: center;
    }

    .resp-actions .sm-small-icon .icon {
        float: none;
        margin: 0 0 7px;
        font-size: 24px;
        line-height: 24px;
        height: 24px;
        border: none;
    }

    .resp-actions .sm-small-icon h5 {
        font-size: 10px;
        color: rgba(255, 255, 255, .5);
        line-height: 16px;
    }

    .resp-actions .sm-small-icon p {
        display: none;
    }

    .resp-actions .sm-small-icon.build-pc {
        display: none;
    }

    .offcanvas-body .navbar .navbar-nav {
        display: block;
    }
}

.cart-table tr th {
    font-size: 20px;
}

.cart-total .amount {
    padding-right: 12px !important;
}

.report .card-title {
    padding-left: 20px;

}