{% extends "layout/site-base.html" %}

{% block title %}
     শিক্ষার্থী পোর্টাল | রংপুর পলিটেকনিক ইনস্টিটিউট
{% endblock %}

{% block content %}


        <section id="hero">
            <div class="container-fluid">
                <div class="row d-flex align-items-center md-height-control px-md-5 px-3">
                    <div class=" col-lg-6 py-3 pb-5 py-lg-0 mt-5 mt-lg-0 bangla-text">
                        <h1>শিক্ষার্থী পোর্টাল </h1>
                        <h2 class="mb-3 text-h2">রংপুর পলিটেকনিক ইনস্টিটিউট</h2>
                        <p class="text-white text-justify me-3">
                            বাংলাদেশের উত্তরের জনপদের অন্যতম শিক্ষায়তন-"রংপুর পলিটেকনিক ইন্সটিটিউট"। অবিভক্ত বাংলার
                            প্রাচীন শহর রংপুর , এ অঞ্চলের শিক্ষা বিস্তারে বৃটিশ ভারতে নানামুখি পদক্ষেপের অংশ হিসেবে
                            কারিগরি শিক্ষা প্রদানে আজকের রংপুর পলিটেকনিক ইন্সটিটিউট এর পদযাত্রা শুরু হয় ১৮৮২ সালে।
                            রংপুর পলিটেকনিকের শিক্ষার্থীদের অংশগ্রহনে এবং তাদের একাডেমিক কার্যক্রম পরিচালনা করার জন্য
                            আমরা নিয়ে এসেছি শিক্ষার্থী পোর্টাল, যা একাডেমিক, রেজিস্টার , শিক্ষার্থীদের কাজ কে অনেক সহজ
                            করে তুলবে ।
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0" >
                        <div class="card border-0 overflow-hidden mt-5 mb-5">
                            <div class="card-body">
                                <form class="row g-3 text-start needs-validation" novalidate method="post" action="{{- url_for(action) }}">
                                    <div>
                                          <p class="fw-bold text-center bangla-text fs-1"> রেজিস্ট্রেশন করুন </p>
                                    </div>

                                    {% show_input field=form.name, class="col-md-6" %}
                                    {% show_input field=form.homeDistrict, class="col-md-6" %}
                                    {% show_input field=form.mobile, class="col-md-4" %}
                                    {% show_input field=form.password, class="col-md-4" %}
                                    {% show_input field=form.email, class="col-md-4" %}

                                    {% show_input field=form.username, class="col-md-6" %}
                                    {% show_input field=form.emergencyContact, class="col-md-6" %}

                                    {% show_input field=form.bloodGroup, class="col-md-6" %}
                                    {% show_input field=form.technology, class="col-md-6" %}

                                    {% show_input field=form.session, class="col-md-6" %}
                                    {% show_input field=form.shift, class="col-md-6" %}

                                    {% show_input field=form.roll, class="col-md-4" %}
                                    {% show_input field=form.registration, class="col-md-4" %}
                                    {% show_input field=form.passingYear, class="col-md-4" %}

                                    {{- tutil.recaptcha()|safe }}

                                    <div class="text-center bangla-text">
                                        <button class="btn btn-primary" type="submit">রেজিস্ট্রেশন</button>
                                        <a href="{{ url_for("operator_form_controller.login") }}" class="btn btn-secondary" type="button">লগ ইন</a>
                                    </div>
                                    <div class="text-center">
                                        পাসওয়ার্ড ভুলে গেছেন?
                                        <a class="sm-d-block" href="{{- url_for("site_controller.reset_password") }}">রিসেট পাসওয়ার্ড</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section-bg">

            <div class="container-fluid">
                <div class="row px-md-5 px-3 g-5 gx-sm-0 mx-auto">
                    <div class="col col-sm-100">
                        <div class="text-center fs-2 fs-sm-3 bangla-text">
                             রেজিস্ট্রেশন টিউটোরিয়াল
                        </div>
                        <div class="registration-video card">
                            <iframe src="https://www.youtube.com/embed/Veb_lQZA1_s" title="রংপুর পলিটেকনিক ইনস্টিটিউট - প্রথম পুনর্মিলনী ২০২৩" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of .container-->
        </section>

        <section class="section-bg">
            <div class="container-fluid">
                <div class="row justify-content-center text-center px-md-5 px-3 bangla-text">
                    <div class="col-lg-8">
                        <p class="fs-2 fs-sm-4 text-dark mb-0">জানতে চাই</p>
                        <p class="mb-3">আমরা কিছু সাধারণ প্রশ্ন পেয়েছি এবং আমরা নিচে সেগুলোর উত্তর দেওয়ার চেষ্টা করেছি।</p>

                        <div class="card">
                            <div class="card-body">
                                <div class="accordion border-x border-top rounded" id="accordionFaq">
                                    <div class="card shadow-none border-bottom rounded-bottom-0">
                                        <div class="card-header p-0" id="faqAccordionHeading1">
                                            <button class="accordion-button btn btn-link text-decoration-none d-block w-100 py-2 px-3 collapsed border-0 text-start" data-bs-toggle="collapse" data-bs-target="#collapseFaqAccordion1" aria-expanded="false">
                                                <span class="fas fa-caret-right accordion-icon me-3" data-fa-transform="shrink-2"></span>
                                                <span class="fw-medium font-sans-serif text-900">রেজিস্ট্রেশন ফি কত?</span>
                                            </button>
                                        </div>
                                        <div class="collapse bg-light" id="collapseFaqAccordion1">
                                            <div class="card-body text-left">
                                                <p class="mb-0 text-left ps-4">রেজিস্ট্রেশন ফি মাত্র ৭৫০ টাকা (জন প্রতি) । </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card shadow-none border-bottom rounded-bottom-0">
                                        <div class="card-header p-0" id="faqAccordionHeading2">
                                            <button class="accordion-button btn btn-link text-decoration-none d-block w-100 py-2 px-3 collapsed border-0 text-start" data-bs-toggle="collapse" data-bs-target="#collapseFaqAccordion2" aria-expanded="false">
                                                <span class="fas fa-caret-right accordion-icon me-3" data-fa-transform="shrink-2"></span>
                                                <span class="fw-medium font-sans-serif text-900">রেজিস্ট্রেশন এর শেষ তারিখ কবে?</span>
                                            </button>
                                        </div>
                                        <div class="collapse bg-light" id="collapseFaqAccordion2">
                                            <div class="card-body text-left">
                                                <p class="mb-0 text-left ps-4">রেজিস্ট্রেশন এর শেষ তারিখ ১০ এপ্রিল ২০২৩ ইং (সোমবার) ।</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card shadow-none border-bottom rounded-bottom-0">
                                        <div class="card-header p-0" id="faqAccordionHeading3">
                                            <button class="accordion-button btn btn-link text-decoration-none d-block w-100 py-2 px-3 collapsed border-0 text-start" data-bs-toggle="collapse" data-bs-target="#collapseFaqAccordion3" aria-expanded="false">
                                                <span class="fas fa-caret-right accordion-icon me-3" data-fa-transform="shrink-2"></span>
                                                <span class="fw-medium font-sans-serif text-900">পেমেন্ট ভেরিফাই হয় না কেন?</span>
                                            </button>
                                        </div>
                                        <div class="collapse bg-light" id="collapseFaqAccordion3">
                                            <div class="card-body text-left">
                                                <p class="mb-0 text-left ps-4">পেমেন্ট ভেরিফাই সিস্টেম থেকে হয় , পেমেন্ট ভেরিফাই হতে ২-৩ ঘন্টা সময় নেয় ।</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card shadow-none border-bottom rounded-bottom-0">
                                        <div class="card-header p-0" id="faqAccordionHeading4">
                                            <button class="accordion-button btn btn-link text-decoration-none d-block w-100 py-2 px-3 collapsed border-0 text-start" data-bs-toggle="collapse" data-bs-target="#collapseFaqAccordion4" aria-expanded="false">
                                                <span class="fas fa-caret-right accordion-icon me-3" data-fa-transform="shrink-2"></span>
                                                <span class="fw-medium font-sans-serif text-900">অনুষ্ঠান কোথায় হবে?</span>
                                            </button>
                                        </div>
                                        <div class="collapse bg-light" id="collapseFaqAccordion4">
                                            <div class="card-body text-left">
                                                <p class="mb-0 text-left ps-4">অনুষ্ঠান রংপুর পলিটেকনিক ইনস্টিটিউটে হবে।</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
