/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: NotoSans;
  src: url("../font/NotoSansBengali-Variable.ttf");
}

.bangla-text{
    font-family: 'NotoSans', sans-serif !important;
    font-size: 20px;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

.text-justify {
    text-align: justify;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #095f47;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top svg {
    font-size: 16px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #14A981;;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: #095e47;
    background: linear-gradient(90deg, #213b52 0%, rgb(9, 94, 71) 35%, rgb(9, 95, 71) 100%);
}

.bf-logo {
    height: 50px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #fff;
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(18, 33, 46, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #213b52;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #0f5132;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
    display: block;
    border: 0;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    padding: 0 0 0 0;
    background: #095e47;
    background: linear-gradient(110deg, #213b52 0%, rgb(9, 94, 71) 35%, rgb(9, 95, 71) 100%);
}

#hero h1 {
    margin: 0 0 15px 0;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
    color: #d2e0ed;
    font-family: "Poppins", sans-serif;
}

@media (min-width: 991px) {
    .md-height-control {
        height: 100%;
    }
}

#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 22px;
}

#hero .card{
    background-color: #f8f9fc;
}

#hero .card input::placeholder {
  color: #344050;
  opacity: 1;
}
#hero .card textarea::placeholder {
  color: #344050;
  opacity: 1;
}

#hero .btn-get-started {
    color: #213b52;
    border-radius: 50px;
    padding: 8px 35px 10px 35px;
    border: 2px solid #fdc134;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    background: #fdc134;
}

#hero .btn-get-started:hover {
    background: transparent;
    color: #fff;
}

@media (max-width: 991px) {
    #hero .hero-img {
        text-align: center;
        margin-top: 30px
    }

    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    /*#hero {*/
    /*    -moz-text-align-last: center;*/
    /*    text-align-last: center;*/
    /*}*/

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
        text-align: center;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
        text-align: center;
    }

    #hero p {
        text-align: center;
    }

    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}

.why-chose-img {
    height: 410px;
    object-fit: cover;
    object-position: 60% 40%;
}

@media (max-width: 992px) {
    .why-choose-img {
        height: auto;
        padding-bottom: 20px;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section-bg {
    background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #213b52;
}

.section-title h1 {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #213b52;
}

.section-title h2::before, .section-title h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #000;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after, .section-title h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 5px;
    background: #095f47;
    bottom: -1px;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
    padding: 0;
    margin-top: -90px
}

@media screen and (max-width: 992px) {
    .clients {
        padding: 0;
        margin-top: -45px
    }
}

.clients .client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 150px;
}

.clients .client-logo img {
    height: 56px;
}

@media (max-width: 768px) {
    .client {
        margin-top: -40px
    }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services-alignment {
    margin-top: -75px;
    padding-top: 135px;

}

.services .card {
    border: 0;
    padding: 0 10px;
    margin-bottom: 30px;
    position: relative;
    background: transparent;
}

.poly-alignment {
    margin-top: -75px;
}

.services .card-img {
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.service-img {
    height: 220px;
}

.services .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.services .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-top: -60px;
    margin-left: 30px;
    width: calc(100% - 60px);
}

@media (max-width: 640px) {
    .services .card-body {
        margin-left: 15px;
        width: calc(100% - 30px);
    }
}

/*--------------------------------------------------------------
# services
--------------------------------------------------------------*/
.services .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.services .card-title a {
    color: #000000;
    transition: 0.3s;
}

.services .card-text {
    color: #5e5e5e;
}

.services .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
}

.services .card:hover img {
    transform: scale(1.1);
}

.services .card:hover .card-body {
    border-color: #095f47;
}

.services .card:hover .card-body .card-title a {
    color: #095f47;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .content + .content {
    margin-top: 100px;
}

.features .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #213b52;
}

.features .content ul {
    list-style: none;
    padding: 0;
}

.features .content ul li {
    padding-bottom: 14px;
    line-height: 30px;
    font-size: 18px;
}

.features .content ul svg {
    font-size: 20px;
    padding-right: 4px;
    color: #095f47;
}

.features .content p:last-child {
    margin-bottom: 0;
}

.course .swiper-pagination {
    position: relative;
    margin-top: 25px;
}

.course .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #095f47;
}

.course .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #095f47;
}

/*--------------------------------------------------------------
# products
--------------------------------------------------------------*/

.products .client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 150px;
}

.products .client-logo img {
    height: 60px;
}

@media (max-width: 768px) {
    .products {
        margin-top: -40px
    }
}


.products .client-logo:hover img {
    transform: scale(1.2);
}

.products img {
    transition: all 0.4s ease-in-out;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer{
    margin-top: auto;
}
.footer {
     font-family: 'NotoSans', sans-serif !important;
    color: #444444;
    font-size: 14px;
    background: #f8fbfe;
    position: relative;
}

.footer .footer-top {
    padding: 60px 0 30px 0;
    border-bottom: 1px solid #ccc;
}

.footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

.footer .footer-top .footer-contact h3 {
    font-size: 35px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 300;
}

.footer .footer-top .footer-contact p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #047b5c;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .footer-top .footer-links .footer-link-align {
        padding-left: 0;
    }
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #047b5c;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #047b5c;
    font-weight: 600;
}

.footer .footer-newsletter {
    font-size: 15px;
}

.footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    border: 1px solid #cde5f6;
}

.footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}


.footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
}

.footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #095f47;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer .social-links a:hover {
    background: #14A981;
    color: #fff;
    text-decoration: none;
}

/*--------------------------------------------------------------
# 404-page
--------------------------------------------------------------*/

.content-404 {
    height: calc(100vh - 80px);
    color: #0f5132;
}

.content-404 .title h1 {
    font-size: 100px;
    font-weight: 700;
}

.content-404 .title h5 {
    color: #000000;
}

.content-404 .title p {
    color: #000000;
}

.back-home-btn {
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #095f47;
    color: #095f47;
}

.back-home-btn:hover {
    background: #095f47;
    color: #fff;
}

/*--------------------------------------------------------------
# end-404-page
--------------------------------------------------------------*/

.details-btn {
    background-color: #0c4128;
    border-color: #0c4128;
}

.details-btn:hover {
    background-color: transparent;
    border-color: #0c4128;
    color: #000000;
    font-weight: 600;
    transition: .5s;
}

.list-style {
    list-style-type: none;
    font-size: 17px;
    padding: 2px;
}

.list-style svg {
    color: #0c4128;
}

.course-details-icon {
    color: #0c4128;
}

.course-border {
    border-color: #0c4128 !important;
}

.btn-align {
    margin-left: 997px;
}

@media screen and (max-width: 992px) {
    .btn-align {
        margin-left: 245px;
    }
}

/*--------------------------------------------------------------
# stright-faq Asked Questions
--------------------------------------------------------------*/
.stright-faq {
    padding-top: 120px;
}

.stright-faq .faq-item {
    margin: 20px 0;
    padding: 20px 0;
    border-bottom: 1px solid #a0d9c9;
}

.stright-faq .faq-item svg {
    color: #095f47;
    font-size: 20px;
    float: left;
    line-height: 0;
    padding: 3px 0 0 0;
    margin: 0;
}

.stright-faq .faq-item h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin: 0 0 10px 28px;
    font-family: "Poppins", sans-serif;
}

.stright-faq .faq-item p {
    font-size: 15px;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

.faq .faq-list {
    padding: 0 100px;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li + li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}

.faq .faq-list a:hover {
    color: #095f47;
}

.faq .faq-list a {
    color: #095f47;
}

.faq .faq-list .icon-help {
    font-size: 18px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #095f47;
    top: 23px;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    font-size: 18px;
    padding: 25px 30px 10px;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #343a40;
}

.faq .faq-list a.collapsed:hover {
    color: #095f47;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    background: #f8fbfe;
    background-size: cover;
    padding: 60px 0;
}

.cta h3 {
    color: #047b5c;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #124265;
}

.cta .cta-btn {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #095f47;
    color: #095f47;
}

.cta .cta-btn:hover {
    background: #095f47;
    color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info {
    width: 100%;
    background: #fff;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #124265;
}

.contact .info .margin-contact {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #047b5c;
}

.contact .info .email, .contact .info .phone {
    margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #047b5c;
    color: #fff;
}

.contact-icon {
    font-size: 20px;
    color: #047b5c;
    float: left;
    width: 44px;
    height: 44px;
    background: #c1d9d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.contact .info .email:hover .contact-icon, .contact .info .address:hover .contact-icon, .contact .info .phone:hover .contact-icon {
    background: #047b5c;
    color: #fff;
}

/*--------------------------------------------------------------
# video  tutorial page css start
--------------------------------------------------------------*/

.video-tutorial .youtube-video {
    height: 300px;
    margin: auto;
}

@media (max-width: 1400px) {
    .video-tutorial .youtube-video {
        height: 300px;
        width: 355px;
    }
}

@media (max-width: 1200px) {
    .video-tutorial .youtube-video {
        height: 250px;
        width: 300px;
    }
}

.video-tutorial .youtube-video iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-youtube {
    margin-top: 0;
    background-color: #CC0000;
    color: #fff;
    padding: 5px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    border-radius: 5px;
}

.btn-youtube:hover {
    background-color: #cc0011;
    color: #fff;
}

.btn-youtube-green {
    margin-top: 0;
    color: #fff;
    background-color: #095f47;
    padding: 5px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    border-radius: 5px;
}

.btn-youtube-green:hover{
    color: #fff;
    background-color: #095f47
}


@media (min-width: 767px) {
    .course-feature-margin {
        margin-left: 30px;
    }
}

@media (max-width: 767px) {
    .sm-d-none {
        display: none !important;
    }
}

/*--------------------------------------------------------------
# course
--------------------------------------------------------------*/

.course-card {
    border-radius: 15px 15px;
}

.card-img-style {
    border-radius: 15px 15px 0px 0px;
    height: 200px;
}

.details-inner h6 {
    font-size: 15px;
}

.more-course .swiper-pagination {
    position: relative;
    margin-top: 25px;
}

.more-course .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #095f47;
}

.more-course .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #095f47;
}

.course-details-text p {
    font-size: 19px;
}

.course-title {
    font-size: 18px;
}

/*--------------------------------------------------------------
# end course
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content p {
    text-align: justify;
    font-size: 18px;
}

.about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #047b5c;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #047b5c;
}

.about .content .btn-learn-more:hover {
    background: #047b5c;
    color: #fff;
    text-decoration: none;
}

.about-image {
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-size: cover;
    background-position: bottom;
    position: relative;
    background-attachment: fixed;
}

.about-image:before {
    content: "";
    background: #020805c2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

}

.about-image .about-text {
    position: relative;
    color: #047b5c;
    z-index: 100;
}

.about-text h1 {
    font-size: 46px;
    color: #047b5c;
    font-weight: 700;
    margin-top: 100px;
}

.about-text i {
    font-size: 16px;
}

.about-text p {
    font-size: 20px;
    font-weight: 500;
    color: #f7f8f7;
}


/*custom header Bootstrap*/
.bg-pf-primary {
    background: #095e47;
    background: linear-gradient(110deg, #213b52 0%, rgb(9, 94, 71) 35%, rgb(9, 95, 71) 100%) !important;
    background-image: none;
}


.bd-navbar {
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15)
}

.bd-navbar .navbar-toggler {
    padding: 0;
    margin-right: -.5rem;
    border: 0
}

.bd-navbar .navbar-toggler:first-child {
    margin-left: -.5rem
}

.bd-navbar .navbar-toggler .bi {
    width: 1.5rem;
    height: 1.5rem
}

.bd-navbar .navbar-toggler:focus {
    box-shadow: none
}

.bd-navbar .navbar-toggler, .bd-navbar .nav-link {
    padding-right: .25rem;
    padding-left: .25rem;
    color: rgba(255, 255, 255, 0.85)
}

.bd-navbar .navbar-toggler:hover, .bd-navbar .navbar-toggler:focus, .bd-navbar .nav-link:hover, .bd-navbar .nav-link:focus {
    color: #fff
}

.bd-navbar .navbar-toggler.active, .bd-navbar .nav-link.active {
    font-weight: 600;
    color: #fff
}

.bd-navbar .navbar-nav-svg {
    display: inline-block;
    vertical-align: -.125rem
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    color: rgba(255, 255, 255, .84);
}

.bd-navbar .offcanvas-lg {
    background-color: var(--bd-violet);
    border-left: 0
}

@media (max-width: 991.98px) {
    .bd-navbar .offcanvas-lg {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175)
    }
}

.bd-navbar .dropdown-toggle:focus:not(:focus-visible) {
    outline: 0
}

.bd-navbar .dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-link-hover-bg: rgba(var(--bd-violet-rgb), .1);
    --bs-dropdown-font-size: .875rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
}

.bd-navbar .dropdown-item.current {
    font-weight: 600;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem top 0.6rem;
    background-size: .75rem .75rem
}


.mod-switcher {
    display: flex;
    width: auto;
    align-items: center;
    padding: 2px 8px;
    border: 1px solid #539592;
    border-radius: 5px;
    margin-left: 8px;
    max-width: 80px;
}

.mode-icon {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 16px;
    color: #f0f0f0;
}

.mod-switcher .form-check-input:focus {
    border-color: #2d918c;
    outline: 0;
    box-shadow: none;
}

.mod-switcher .form-check-input:checked {
    background-color: #095e47;
    border-color: #2d918c;
    box-shadow: none !important;
}

.mod-switcher .form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
}

@media (max-width: 768px) {
    .mod-switcher {
        margin-top: 10px;
        margin-left: 0px;
    }
}

.landing-dark-switcher .mode-icon {
    color: #777777;
}

.landing-dark-switcher .mod-switcher .form-check-input:checked {
    background-color: transparent;
    border-color: #2d918c;
    box-shadow: none !important;
}

.landing-dark-switcher .mod-switcher {
    color: #777777;
}

/*mode switch end*/


.bd-navbar .offcanvas-lg {
    background-color: #095e47;
}

.bd-links-group {
    cursor: pointer;
}

.bd-links-group .bd-links-heading {
    font-size: 1rem;
    position: relative;
    padding: 5px 0;
    margin: 2px 0;
}

.bd-links-group .bd-links-heading::after {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
    margin-left: 16px;
}

.bd-links-group .bd-links-heading[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    .bd-links-group .bd-links-heading {
        position: relative;
        padding: .1875rem 0;
        margin: 2px 0;
    }
    .products .client-logo img{
        height: 45px;
    }
    .logo  {
        font-size: 16px !important;
    }
}

@media (max-width: 400px) {
    .logo {
        font-size: 13px !important;
    }
    .bf-logo {
        height: 40px;
    }
}

@media (max-width: 991px) {
    .mod-switcher {
        margin-left: 0;
    }
}

.footer h5 {
    font-weight: 600;
    padding-bottom: 10px;
}

.footer a {
    color: #495057;
    text-decoration: none;
    font-size: 18px;
}

.footer p {
    font-size: 18px;
}

.footer a:hover, .footer a:focus {
    color: #095f47;
    text-decoration: underline;
}


.pading-start p{
    margin-left: 0 !important;
}

.link-bf-transparent{
    color: #095f47;
}


.link-bf-transparent p {
    margin-bottom: 0;
    font-size: 14px;
    color: #047b5c;
}

.footer .social-links a:active, .footer .social-links a:focus{
    background: #095f47;
    color: #fff;
}

.services .card-body:hover{
     color: #047b5c;
}

.link-bf-trans{
    color: #444;
}
.link-bf-trans:hover{
    color: #047b5c;
}

.update-date{
    font-size: 14px;
    line-height: 1;
    color: #9ba3ad;
}

.left-img{
    height: 324px;
}

.online-course {
    padding: 60px 0;
}

.module-name{
    font-size: 22px;
    font-weight: 600;
}


.in-shear button {
    width: 80px !important;
    height: 28px !important;
    font-size: 13px !important;
    padding: 3px 8px !important;
    border-radius: 4px !important;
}

.in-shear button xdoor-icon {
    font-size: 8px;
}

.tweet-btn iframe {
    margin-top: 6px;
    border-radius: 4px !important;
}

.btn-o a.btn {
    border-radius: 4px !important;
}

.cart-total {
    float: right;
    max-width: 300px;
    margin: 10px 0 40px;
}

.cart-table thead {
    background-color: #f5f7f9;
    color: #666;
    font-size: 14px;
}

.cart-table thead, .cart-table tbody, .cart-table tfoot, .cart-table tr, .cart-table td, .cart-table th {
    border-color: #fff;
}

.cart-table .tbody, .cart-table tfoot, .cart-table th, .cart-table thead, .cart-table tr {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee ;
}

.page-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 75px);
    width: 100%;
}

.table{
    margin-bottom: 5px;
}
.p-form-select{
    width: 180px;
}

.fs-title{
    font-size: 20px;
}

.tr-info{
    border-bottom: none !important;
}

.booking.table  tr td{
    padding: 12px 12px;
}

.t-shart-data .form-select{
    width: auto;
    flex: 1 1 auto;
}


@media (max-width: 767px) {
    .page-center {
        display: block;
    }
    .sm-d-block{
        display: block;
    }
}

.t-shart-data td{
    padding-bottom: 15px !important;
}

.tr-info td{
    padding-top: 15px !important;
}

.booking.table{
    border-bottom: 1px solid #c9c6c6;
}

.booking .tbody, .booking tfoot, .booking thead, .booking tr, .cart-table tr {
    border-bottom: 1px solid #c9c6c6;
}

.tr-info .form-select, .t-shart-data .form-select {
    border: 1px solid #c6c6c6;
}

.p-form-select{
    min-width: 130px;
}

.registration-video {
    height: 350px;
    max-width: 740px;
    width: 85%;
    margin: 1rem auto 0;
}

.registration-video iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .registration-video {
        height: 300px;
        max-width: 700px;
        width: 100%;
    }

    .col-sm-100{
        width: 100%;
        flex: 1 0 100%;
    }

    .mx-auto.gx-sm-0{
        --falcon-gutter-x: 0 rem;
    }
}

@media (max-width: 556px) {
    .registration-video {
        height: 200px;
        max-width: 700px;
        width: 100%;
    }
}

.cart-table tr th{
    font-size: 20px;
}

.cart-total .amount{
    padding-right: 12px !important;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

.text-left{
    text-align: left;
}