
{% macro event_data_table() %}
    <div class="table-responsive-sm bangla-text">
        <table class="table table-bordered booking cart-table">
            <thead>
            <tr>
                <th class="text-left product-name"></th>
                <th class="text-end">সংখ্যা</th>
                <th class="text-end w-price">ফী</th>
                <th class="text-end w-price">পরিমাণ</th>
            </tr>
            </thead>
            <tbody>
            {% set tshirt = event.tshirt %}
            <tr class="tr-info">
                <td class="text-left product-name">অংশগ্রহণকারী</td>
                <td class="text-end p-form-select">
                    <select class="form-select" id="total-adult-select" required>
                        <option value="" selected disabled>Select</option>
                        {% for select in [1, 2, 3, 4, 5] %}
                            <option {{ "selected" if event.adult == select }} value="{{- select }}">{{- select }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="text-end w-price">{{- event.adultFee }}</td>
                <td class="text-end w-price">{{- event.adultAmount }}</td>
            </tr>
            {% if event.adult %}
                <tr class="t-shart-data">
                    <td colspan="2">
                        <p class="mb-1 fw-semi-bold fs--1">টি-শার্ট সাইজঃ </p>
                        <div class="d-flex flex-wrap align-items-center gap-3">
                            {% for select in range(1, event.adult + 1) %}
                                <select name="adultShirt{{ select }}" class="form-select" required>
                                    <option value="" selected disabled>Select</option>
                                    {% for size in ["M", "L", "XL", "XXL"] %}
                                        <option {{ "selected" if tshirt and tshirt["adultShirt" + select|string] == size }} value="{{- size }}">{{- size }}</option>
                                    {% endfor %}
                                </select>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endif %}

{#            <tr class="tr-info">#}
{#                <td class="text-left product-name">শিশু ১২ বছরের নিচে</td>#}
{#                <td class="text-end p-form-select">#}
{#                    <select id="total-child-select" class="form-select" required>#}
{#                        <option value="" selected disabled>Select</option>#}
{#                        {% for select in [0, 1, 2, 3, 4, 5] %}#}
{#                            <option {{ "selected" if event.child == select }} value="{{- select }}">{{- select }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </td>#}
{#                <td class="text-end w-price">{{- event.childFee }}</td>#}
{#                <td class="text-end w-price">{{- event.childAmount }}</td>#}
{#            </tr>#}
{#            {% if event.child %}#}
{#                <tr class="t-shart-data">#}
{#                    <td colspan="2">#}
{#                        <p class="mb-1 fw-semi-bold fs--1">টি-শার্ট সাইজঃ </p>#}
{#                        <div class="d-flex flex-wrap align-items-center gap-3">#}
{#                            {% for select in range(1, event.child + 1) %}#}
{#                                <select name="childShirt{{ select }}" class="form-select" required>#}
{#                                    <option value="" selected disabled>Select</option>#}
{#                                    {% for size in ["S", "M", "L", "XL", "XXL"] %}#}
{#                                        <option {{ "selected" if tshirt and tshirt["childShirt" + select|string] == size }} value="{{- size }}">{{- size }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </td>#}
{#                </tr>#}
{#            {% endif %}#}

            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered cart-total cart-table">
                <tbody>
                <tr>
                    <td class="text-end"><strong>মোটঃ </strong></td>
                    <td class="text-end amount">{{- event.total }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{%- endmacro %}

{% if wrapper %}
    {% extends "layout/site-base.html" %}

    {% block title %}
        রেজিস্ট্রেশন সফল | কুড়িগ্রাম পলিটেকনিক ইনস্টিটিউট
    {% endblock %}

    {% block content %}
        <div class="page-center">
            <div class="my-5 col-md-8 col-xxl-7">
                <div class="card">
                    <div class="card-body p-md-5 p-3">
                        <div class="pb-3">
                            <p class="fs-title fw-bold text-center">আপনার অংশগ্রহন নিশ্চিত করতে নিচের ফরমটি পূরণ করুন । </p>
                        </div>

                        <form class="needs-validation" novalidate method="post" action="{{- url_for("site_controller.event_booking") }}">
                            <div id="table-wrapper">
                                {{- event_data_table() }}
                            </div>
                            <div class="d-flex gap-2 justify-content-end align-items-center mt-2">
                                <button type="submit" class="btn btn-primary fs--1">Confirm And Pay</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% else %}
    {{- event_data_table() }}
{% endif %}
