{% extends "layout/site-base.html" %}

{% block title %}
   রেফারেন্স কোড | রংপুর পলিটেকনিক ইনস্টিটিউট
{% endblock %}

{% block content %}
    <div class="page-center">
        <div class="my-5 col-md-8 col-xxl-6">
               <div class="card bangla-text">
               <div class="card-body">
                   <div class="px-md-6 px-0 py-md-5 py-3">
                       <div class="fs-3 text-center fw-bold text-f-sec mb-3">আপনার রেফারেন্স কোডটি হল: <span class="fw-bold fs-2 px-1">{{ event.referenceCode }}</span></div>
                       <p class="fs-1 mb-2 text-center">
                           আমরা এইমাত্র আপনার অনুরোধ পেয়েছি, দয়া করে বিকাশের মাধ্যমে আপনার নিরধারিত অর্থ <span  class="fw-bold fs-2">{{ event.total }}</span> টাকা পরিশোধ করুন।
                           আমাদের অ্যাকাউন্ট নম্বর:<span class="fw-bold fs-2"> 01844933234 </span>, টাকা প্রদানের সময় অবশ্যই উপরোক্ত রেফারেন্স কোডটি ব্যাবহার  করুন । ধন্যবাদ ।
                       </p>

                       <p class="text-center mt-5 fw-semi-bold">
                           পেমেন্ট সংক্রান্ত যেকোন সমস্যায় এই নাম্বরে যোগাযোগ করুনঃ
                           <span class="d-block fs-3"><a href="tel:+880 1687-870387">+880 1687-870387</a></span>
                           <span class="fs-1">Samsuzzaman Chowdhury Rubel (AIDT-16)</span>
                       </p>
                   </div>
               </div>
           </div>
        </div>
    </div>
{% endblock %}
